html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    width:80%;
    margin:0 auto;
}

header {
    display:flex;
    flex-flow: row nowrap;
    justify-content:center;
}

.rightheader h1 {
    margin:4rem 0 0 0.5rem;
    font-size:3rem;
    font-style: italic;
    color:#DA0090;
}

.rightheader p {
    margin-left:1rem;
}



/*

nav ul {
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    list-style-type: none;
    padding:0;
    margin:0;
    border-top: 1px solid #a61f11;
    border-bottom: 1px solid #DA0090;
    margin-bottom:2rem;
  }

nav li {
    flex-basis:11%;
    padding:0.5rem 1rem 0.5rem 1rem;
}

*/

nav ul {
    list-style-type: none;
    padding:0; 
    margin:0;
    text-align:center;
    border-top: 1px solid #a61f11;
    border-bottom: 1px solid #DA0090;

}  


nav li {
    display: inline-block
}    

nav a {
    text-decoration: none;
    color:#73352E;
    display:block;
    padding: 0.5rem 1rem;
}

article img {
    border-radius: 10%;
}

article {
    margin-bottom:8rem;
}

article:after {
    content="";
    display:table;
    clear:both;
}

.floatleft {
    float:left;
    margin:0.5rem 1rem 0 0;
}

section {
    border-bottom:1px solid #da0090;
    margin-bottom:0.3rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    color: ##DA0090;
    margin: 0;
}
a {
    color: #DA0090;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.posted {
    font-size: 0.8rem;
    color: #89A611;
}
footer {
    text-align: center;
    font-size: 0.8rem;
    border-top:1px solid #a61f11;
}

footer ul {
    margin:0;
    padding:0;
    list-style-type: none;
    /* display:flex;
    flex-flow:nowrap;
    justify-content:center;
     */
}

footer li {
    /* flex-basis:3%; */
    display:inline-block;
}