* {    
    font-family: 'Quicksand', sans-serif;

}

/* body {
    background-image: url(/images/baseball_background_blur.jpeg);
    background-repeat: no-repeat;
} */

header {
    text-align: center;
    margin-bottom: -2rem;
}

.headerText {
    font-size: 4rem;


}

body {
    background-color: #FFC163;
}

.stories {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

img {
    border-radius: 25px;
}

.stories_img {
    width:18rem;
    float: right;
    margin:2rem 1rem 1rem 1rem;
}

.storyLeft {
    border-right:1px solid black;
    border-bottom:3px solid black;
    border-bottom-right-radius: 45px;
    flex-basis: 60%;
    padding:1rem;
}

.storyRight {
    /* border-radius: 25px; */
    flex-basis: 30%;
    padding:1rem 1rem 1rem 2rem;
}

/* 
.baseball {
    width:40%;
    margin-left:20rem;
} */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding:0;
    margin:0;
}

nav li {
    width:10rem;
    background-color: white;
    text-align:center;
    margin-bottom:0.5rem;
    display:inline-block;
    font-size:0.75rem;
    padding:0.5rem;
    border-radius: 25px;
}

nav li:hover {
    background-color:white;
    color: black;
  }

  hr {
      width: 75%;
      height:2px;
      background-color: black;
      border: none;

    }

.floatleft {
    float:left;
    margin: 0 2rem 2rem 0;
}

article:after {
    content: "";
    display: table;
    clear: both;
}

article p {
    font-size:1rem;
}

.important {
    margin-left:17rem;
    width:50%;
}

blockquote {
    padding:0.5rem;
    background-color: #8EE3E6;
    float:right;
    text-align:center;
}

blockquote p {
    font-size: 1.25rem;
    width:10rem;
}

blockquote cite {
    font-size: 0.75rem;
}


/* Hobbies  */

.highlights {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.highlights_image {
    width: 75%;
}

article {
    flex-basis: 30%;
    border-bottom:4px solid black;
    border-right:1px solid black;
    border-bottom-right-radius: 45px;

    text-align:center;
    font-size: 0.75rem;
    margin-bottom: 0.75rem;
    padding: 0 1rem 1rem 1rem;
}

li {
    list-style-type: none;
}

article h3 {
    font-size: 1.25rem;
}

.sites {
    display: flex;
}

.shops {
    display: flex;
}

footer {
    text-align: center;
    margin: 1rem 0rem;
}