* {    
    font-family: 'Quicksand', sans-serif;
    margin:0;
    padding:0;
}

body, html {
    height:100%;
}


.index_background {
    background-image: url(https://cbeltz74.github.io/MyWebsite/images/baseball_background_blur.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.section_headlines {
    text-align: center;
    margin-top:20rem;
    color:white;
    width:100%;
}

.section-name {
    font-size: 4rem;
}

.section-position {
    font-size:1.5rem;
    font-weight: 700;
}

.section-position2 {
    font-weight: 100;
}

.header-title {
    text-align: center;
    color:white;
    font-size:1.5rem;
}

.index-footer {
    margin-top:15rem;
    color:white;
}

 .color_background {
    background-color: #2B4D62;
}


.stories {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

img {
    border-radius: 25px;
}

.stories_img {
    width:100%;
    float: right;
    margin:1rem 1.5rem; 2rem; 2rem;
}

.storyLeft {
    border-right:1px solid black;
    border-bottom:3px solid black;
    border-bottom-right-radius: 45px;
    flex-basis: 60%;
    padding:1rem;
}

.storyLeft h1 {
    font-size:2rem;
}

.storyRight {
    flex-basis: 20%;
    padding:1rem 1rem 1rem 1rem;
    line-height: 1.5rem;
    font-size: 1rem;

}

.image {
    flex-basis: 15%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    text-align: center;
    border-bottom:1px solid black;
    margin-bottom:1rem;    
}

nav ul {
    list-style-type: none;
    padding:0;
    margin:0;
    
}

nav li {
    color:white;
    width:10rem;
    text-align:center;
    display:inline-block;
    font-size:1rem;
    font-weight: 800;
    padding:0.5rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

nav li:hover {
    background-color:white;
    color: black;

  }

  hr {
      width: 75%;
      height:2px;
      background-color: black;
      border: none;

    }



article:after {
    content: "";
    display: table;
    clear: both;
}

article p {
    font-size:1rem;
    text-align: left;
}

article li {
    font-size:1rem;
    text-align:left;
}




/* Hobbies  */

.hobbies_background {
    background-color:#90EE90;

    }

.highlights {
    width:100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.article {
    flex-basis: 30%;
    border-bottom:4px solid black;
    border-right:1px solid black;
    border-bottom-right-radius: 45px;

    text-align:center;
    font-size: 0.75rem;
    margin-bottom: 0.75rem;
    padding: 0 1rem 1rem 1rem;
}

.article h3 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
}


.pressPin {
    width:50%;
}

.sc {
    width:50%;
}


li {
    list-style-type: none;
}

.sites {
    display: flex;
}

.shops {
    display: flex;
}

footer {
    text-align: center;
    margin: 1rem 0rem;
}

.important li {
    font-size: 1rem;
    list-style-type: circle;
    text-align: left;
}


/* About me */


.About_Me p {
    text-align: left;
}

.aboutMe_background {
    background-color:#90EE90;
}

.float-right {
    float:right;
    margin: 0 2rem 2rem 1rem;
}

.important {
    margin-left:1rem;
    width:50%;
}

blockquote {
    padding:0.5rem;
    background-color: #8EE3E6;
    float:right;
    text-align:center;
}

blockquote p {
    font-size: 1.25rem;
    width:9rem;
}

blockquote cite {
    font-size: 0.75rem;
}


/* Projects */

.projects_background {
    background-color: #D9C896;
}

.projects {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width:100%;
}

.projects-image {
    width: 75%;
}


.projects-article {
    flex-basis: 30%;
    text-align: left;
}

.projects-article li {
    font-size: 1rem;
}

/* Contact page */


body {
    background-color: #B3D5F2;
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
}
section {
	flex-basis: 55%;
	margin-right: 5%;
}
aside {
	flex-basis: 45%;
}
p, [for="abtype"] {
	margin-bottom: 0;
	margin-top: 2rem;
}
fieldset, #abtype {
	margin-bottom: 1rem;
}
fieldset {
	border: 1px solid black;
    border-radius: 10px;
    padding:1rem;
}
legend {
	font-weight: bold;
	font-size: 1.3rem;
	margin-top: 1.5rem;
	margin-bottom: rem;
	display: block;
}
label {
	display: block;
}
input:not([type="radio"]),textarea {
	display: block;
	margin-bottom: 2rem;
	width: 20rem;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	border-radius: 10px;
	padding: 0 1rem;
}
textarea {
	height: 10rem;
	padding: 1rem;
}
select {
    font-size: 1rem;
    margin-bottom:2rem;
    border:none;
}
button {
	margin: 2rem 0;
	background-color: #D9C896;
	color:black;
	border: none;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	border-radius: 10px;
}
button:hover {
    background-color: white;
    border:1px solid black;
}

.social-media {
    margin-top:1rem;
    display:flex;
    background-color:white;
    padding: 1rem 3rem;
    justify-content: space-evenly;
}

.social-media a {
    flex-basis: 19%;
}
