* {
    padding:0;
    margin:.5vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 8vh;
    text-align: center;
}

h2 {
    font-size: 3vh;
    padding: 0.5vh 0 0 0;
}

p {
    padding: 0 0 0 1vw;
}

ul {
    padding:0 0 0 3vw;
}

.morning {
    padding-left:5vw;
}

.day {
    padding-left:10vw;
    margin:2vw;
}

.night {
    padding-left:5vw;
}

.big {
    font-size:1.5vw;
}

.bigger {
    font: size 1.75vw;
    font-weight: 900;
}