* {
    margin:0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-bg-color: lightgreen;
    --second-bg-color:white;
    --js-color: black;
    --html5-color:#F16529;
    --css3-color: #2965f1;
    --CB-intials: black;
}

.container, .container1 {
    width:100%;
    height:100%;
    padding:0 auto;
    background-color: var(--main-bg-color);
    background-image: linear-gradient(var(--main-bg-color), white); /* Standard syntax (must be last) */
}

.container1 {
    margin-bottom:1.5rem;
}

.container1:last-of-type {
    margin-bottom: 0rem;
}

.navigation {
    position:-webkit-sticky;
    position:sticky;
    top:0;
    height:2.5rem;
    border-bottom: 1px solid var(--second-bg-color);
    z-index: 1;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background: rgba(144, 238, 144, 1);
    font-size:1rem;
}

.navigation ul {
    display:flex;
    flex-flow: row nowrap;
    list-style-type: none;
}

.right-nav li {
    display:inline-block;
    padding:1vh 2vw;
}

.navigation li:hover {
    background-color: lightgreen; /* For browsers that do not support gradients */
    background-image: linear-gradient(var(--second-bg-color), var(--main-bg-color)); /* Standard syntax (must be last) */
}

.navigation .title:hover {
    background: rgba(0, 0, 0, 0);
 }
 
 .nav-name {
     font-size: 1.45rem;
     font-weight: 600;
 }

 .left-nav a {
     text-decoration: none;
 }
 
 .navigation .nav-name:hover {
     background: rgba(0, 0, 0, 0)
  }

 .title {
    font-size: 1.1rem;
    margin-top:-0.1vh;
    font-weight: 700;
}


.intro {
    text-align: center;
    margin-top:1rem;
}

.intro-name {
    display:none;
}

.nameIs {
    font-size: 2vw;
}

.myName {
    font-size: 6vw;
    font-weight:500;
}

.firstLetter {
    color: var(--CB-intials);
}

.iAm {
    font-size: 2vw;
    margin-bottom: 1rem;
}



/* STATIC PHOTOS, WRAPPER CLASSES */


.swiper-container {
    display: flex;
    flex-flow: row nowrap;
    z-index:0;
  }

.static-photos {
  margin:0 auto;
  padding:1rem;
}

.photos {
  width:100%;
}

img {
  width:75%
}

.photos p {
  margin-top:2vh;
    font-size:1.25rem;
}

.wrapper {
  display:none;
}

  .wrapper {
    margin:0 auto;
    padding:0;
  }

  .swiper-slide {
    text-align: center;
  }

  img {
    width:100%;
    border:2px solid black;
    box-shadow: 5px 10px 8px #888888;
  }

  .swiper-slide p {
    font-size:1.75vw;
  }







/* PROJECTS */

.story {
    padding:0 1rem;
    display: flex;
    flex-flow: row nowrap;
    margin:0 auto;
    justify-content: center;
    width:80%;
}


.story-image {
    margin-top:0.5rem;
    width:20vw;
    object-fit: cover;
    border:none;
}

.story-image:hover {

}

.story-text {
    padding-left:1rem;
}

.story h2 {
    margin-bottom:1vh;
    font-size:4vw;
    font-weight: 100;
}

span {
    font-weight: 600;
}




.technologies {
    display:flex;
    flex-flow:row nowrap;
    justify-content: center;
    border-top:1px solid black;
    border-bottom:1px solid black;
    margin:0.5rem 0;
}

.technologies li {
    margin-left:1rem;
    list-style-type: none;    
}

.technologies a {
    text-decoration: none;
}


.js {
    color: var(--js-color)
}

.html5 {
    color: var(--html5-color)
}

.css3 {
    color: var(--css3-color)
}

.mission {
    font-size:1rem;
}


/* RESUME */



.resume {
    display:grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    
        "name       name        links"
        "overview   expertise   education"
        "skills     skills      skills"
        "work       work        work"
        ;
        grid-gap: 5px;
}

.grid-area {
    padding: 1em 1em 1em 1em;
}

.name {

    grid-area: name;
}


.name h1 {
    margin:0;
    padding:0;
    font-size:2em;
    color:#2E4053;
}

h2 {
    margin:0;
    padding:0;
    font-size: 1.5em;
    color:#2E4053;
}

h3 {
    margin:0;
    padding:0;
    font-size: 1em;
    color:#2E4053;
}


ul {
    list-style-type: circle;
    margin-left:1.5em;
    margin-top:0;
    padding:0;    
}

p {
    margin:0;
    padding-bottom:10px;
}

.linksWrapper {
    padding-top:3px;
    display:grid;
    grid: auto auto auto/ auto auto;
    grid-gap: 5px;
}

.links {
    grid-area: links;

}

.links ul {
    list-style-type: none;
}

.education {

    grid-area: education;
}

.skills {

    grid-area: skills;
}

.overview {

    grid-area: overview;
}


.expertise {

    grid-area: expertise;
}

.work {

    grid-area: work;
}

.exp_subhead {
    font-style: italic;
    color:#808B96;

}

.fab {
    margin-right:4px;
}

.fas {
    margin-right:4px;
}

.resume-wrapper {
    padding       : 0;
    display       : flex;
    flex-direction: clumn;
    align-items   : center;
}


    @media (min-width: 1100px) {
        .name p {
            font-size:2em;
        }
    }

    @media (max-width: 1100px) {
        .resume {
            grid-template-columns: 1.25fr 1fr;
            grid-template-rows: auto auto auto auto auto;
            grid-template-areas:
                "name       links"
                "overview   expertise"
                "skills     skills"
                "work       work"
                "education  education"
            }  
    
            .name p {
                font-size:1.25em;
            }
    
    }

        @media (max-width: 700px) {
            .resume {
                grid-template-columns:1fr;
                grid-template-areas:
                
                    "name"
                    "links"
                    "overview"
                    "expertise"
                    "skills"
                    "work"
                    "education"
                    ;
            }

            .grid-area {
                padding: 1em 1em 1em 1em;
                border-bottom: .1px solid black;
            }

                .linksWrapper {
                    padding-top:3px;
                    display:grid;
                    grid: auto auto/ auto auto auto;
                    grid-gap: 5px;
                }          


        }






@media only screen and (min-width: 768px) {
    .container0, .container1 {
    width:75%;
    height:100vh;
    margin:0 auto 2rem auto;
    }

    .container {
        height:100vh;
    }

    .container1 {
        height:100%;
    }


    /*  HOME    */

    .intro {
        text-align: center;
        margin-top:1rem;
    }

    .intro-name {
        display:block;
    }

    .nameIs {
        font-size: 2vw;
    }

    .myName {
        font-size: 5vw;
        font-weight:500;
    }

    span {
        color: var(--CB-intials);
    }

    .iAm {
        font-size: 2vw;
        margin-bottom: 1rem;
    }

    /* Photo Gallery */    
    .wrapper {
        display:block;
        margin:0 auto;
        padding:0;
        width:75%;
      }
         img {
          width:60%;
        }
  
        .swiper-slide p {
          margin-top:3vh;
            font-size:2vw;
        }      
  
      .static-photos {
        display:none;
      }

/* ARTICLE */

    .story {
        display: flex;
        flex-flow: row nowrap;
        margin:0 auto;
        justify-content: center;
        width:80%;
    }


    .image {
        width:20vw;
        object-fit: cover;
    }

    .text {
        padding-left:1rem;
    }

    .story h2 {
        margin-bottom:1vh;
        font-size:2.5vw;
        font-weight: 100;
    }

    span {
        font-weight: 600;
    }


    .technologies {
        display:flex;
        flex-flow:row nowrap;
        justify-content: center;
        border-top:1px solid black;
        border-bottom:1px solid black;
        margin:0.5rem 0;
    }

    .technologies li {
        margin-left:1rem;
        list-style-type: none;    
    }

    .technologies a {
        text-decoration: none;
    }


    .js {
        color: var(--js-color)
    }

    .html5 {
        color: var(--html5-color)
    }

    .css3 {
        color: var(--css3-color)
    }

}




@media only screen and (max-width: 768px) {
    .container0, .container1 {
        width:100%;
    }

    .text h2, .grid-area h2 {
        font-size:5vw;
    }

    .grid-area h3 {
        font-size: 4.5vw;
    }


    .nameIs, .iAm, .myName {
        visibility: hidden;;
    }


    .nav-name-home {
        visibility: visible;
    }

    .text h2 {
        font-size: 4vw;
    }

    .technologies {
        flex-flow: column;
    }

    .navigation {
        font-size:1rem;
    }

    .nav-name {
        font-size: 4vw;
    }

    .story-image {
        display:none;
    }
}

