* {
    box-sizing: border-box;
  }


/* STATIC PHOTOS, WRAPPER CLASSES */


  .swiper-container {
    display: flex;
    flex-flow: row nowrap;
    z-index:0;
  }

.static-photos {
  margin:0 auto;
  padding:1rem;
}

.photos {
  width:100%;
}

img {
  width:75%
}

.photos p {
  margin-top:2vh;
    font-size:1.25rem;
}

.wrapper {
  display:none;
}

  .wrapper {
    margin:0 auto;
    padding:0;
  }

  .swiper-slide {
    text-align: center;
  }

  img {
    width:100%;
    border:2px solid black;
    box-shadow: 5px 10px 8px #888888;
  }

  .swiper-slide p {
    font-size:1.75vw;
  }


  @media only screen and (min-width: 1200px) {

/* Photo Gallery */    
    .wrapper {
      display:block;
      margin:0 auto;
      padding:0;
      width:75%;
    }
       img {
        width:60%;
      }

      .swiper-slide p {
        margin-top:3vh;
          font-size:2vw;
      }      

    .static-photos {
      display:none;
    }
  }
  



  @media only screen and (max-width: 1024px) {
  
  }



    @media only screen and (max-width: 768px) {
      



  
    }

    @media only screen and (max-width: 480px) {

      .wrapper {
        margin-top:-2rem;
      }

      /* img {
        width:55%;
      } */
  
  }






/* * {
    box-sizing: border-box;
  }

  .swiper-container {
    display: flex;
    flex-flow: row nowrap;
    z-index:0;
  }


  .wrapper {
    margin:0 auto;
    padding:0;
    width:80%;
  }

  .swiper-slide {
    text-align: center;
  }

  img {
    width:65%;
    border:2px solid black;
    box-shadow: 5px 10px 8px #888888;
  }

  .swiper-slide p {
    font-size:1.75vw;
  }

    @media only screen and (max-width: 768px) {
      
      .swiper-slide p {
        margin-top:3vh;
          font-size:3vw;
      }

      img {
        width:45%;
      }
  
    }

    @media only screen and (max-width: 480px) {

      .wrapper {
        margin-top:-2rem;
      }

      img {
        width:55%;
      }
  
  }
 */
