* {
    padding:0;
    margin:0;
}



body {
    padding:0.25rem;
}

/* .header {
    background-color: blue;
    text-align: center;
    padding: 20px;
  } */

/* The navbar container */
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Links - change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

.front_container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #2196F3;
  padding: 10px;
  align-items: center;
}

.front_photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.front_page_card h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

/* Topps Twins Cards */

.ToppsTwins {
  height: 8vh;
  text-align: center;
  margin-top:15%;
}

.card_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #2196F3;
  padding: 5px;
  align-items: center;
}

.introduction {
  padding: 2vh 0 2vh 0;
  font-size: 1.25rem;
  text-align: center;
}

.introduction h3 {
  font-size: 4rem;
}



.card_details {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
  margin-bottom:3vh;
  border:1px solid black;
}

.card_details h4 {
  font-size: 2rem;
  text-align: center;
}

.playerName {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 5vh;
}

.cardNumber {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
}

.front-back {
  display:flex;
}

.vcard_front, .vcard_back {
  width:45%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
}

.vcard_front, .vcard_back {
  width:45%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
}



/* section {
    background-color: burlywood;
}

aside {
    background-color: lightgoldenrodyellow;
} */

footer {
    background-color: lightslategrey;
}
