* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

:root {
  --headings-font-family: 'Sonsie One', cursive;
  --uniform-font-family: 'Anton', sans-serif;
  
  /* Current Colors */
  --TwinsNavy:#002B5C;
  --ScarlettRed:#BA0C2F;
  --KasotaGold:#B9975B;

  /* 1987-2009*/
  --OldTwinsNavy:#0C2340;
  --OldTwinsRed:#BA0C2F;

  /* 1961-1975 */
  --TwinsBabyBlue:#009ABC;
  --FirstTwinsRed:#BE0F34;
  --TwinsWhite:#FFFFFF;

}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color:var(--TwinsNavy);
}

li:hover a {
  text-decoration:underline;
  color:var(--TwinsWhite);
}


li:hover {
  background-color:var(--ScarlettRed);
}

/* ToppsTwinsCards.html */

.ToppsIntro {
  padding: 0 2vw 0 2vw;
  line-height: 1.5rem;
}


.TwinsLogo {
  width:18%;
  margin-bottom:-5vh;
}

.ToppsLogo {
  width:18%;
}

.introduction {
  padding-top:2vh;
  padding-bottom:0.5vh;
  background-image: url(/photos/ToppsTwins/ToppsTwinsHero1.jpeg);
  background-size:cover;
  font-family: var(--uniform-font-family);
}


.introduction h3 {
  font-size: 7vw;
  text-align: center;
}

.introduction p {
  font-size:1.5vw;
  text-align:center;
  font-weight:normal;
}

.ToppsNav {
  display: flex;
  justify-content: space-between;
  font-family: var(--uniform-font-family);
  font-size:1.5vw;
}

.ToppsNav li {
  padding:1rem 1rem;
}

ul {
  list-style: none;
}


.cards {
  display:flex;
  justify-content:space-evenly;
  align-items: center;
  padding:1vw;
  background-color:#DCDCDC;
  margin:1vh 0 1vh 0;
}

.top_card {
  margin:0 0 1vh 0;
}

.cards header {
  padding:2vw;
}

.cards h3, h4, h5 {
  text-align: center;
  font-family: var(--uniform-font-family);
}

.cards h3 {
  font-size:5vw;
  color: var(--OldTwinsNavy);
  text-shadow: 3px 3px 1px var(--FirstTwinsRed);
}

.cards h4 {
  font-size:3vw;
}

.cards h5 {
  font-size:1.5vw;
  padding-bottom:.75vh;
}


.card-v {
  max-width: 20%;
  margin:0 7.5%
}

.card-h {
  max-width: 35%;
}

.cards header p {
  visibility: hidden;
}

.BottomNav {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  padding:0 0 0.5vw 0;
}

.nav1960 {
  display:flex;
  flex-direction: row-reverse;
}

.nav1960 {
  display:flex;
}

.BottomNav li {
  padding:1vh 1vw;
  background-color:var(--TwinsBabyBlue);
}

.BottomNav li:hover {
  background-color: var(--ScarlettRed);
}

footer {
  background-color:#999;
  padding:2vh 0;
  text-align: center;
}

