* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

:root {
  --headings-font-family: 'Sonsie One', cursive;
  --uniform-font-family: 'Anton', sans-serif;
  
  /* Current Colors */
  --TwinsNavy:#002B5C;
  --ScarlettRed:#BA0C2F;
  --KasotaGold:#B9975B;

  /* 1987-2009*/
  --OldTwinsNavy:#0C2340;
  --OldTwinsRed:#BA0C2F;

  /* 1961-1975 */
  --TwinsBabyBlue:#009ABC;
  --FirstTwinsRed:#BE0F34;
  --TwinsWhite:#FFFFFF;

}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color:var(--TwinsNavy);
}

li:hover a {
  text-decoration:underline;
  color:var(--TwinsWhite);
}


li:hover {
  background-color:var(--ScarlettRed);
}

/* navigation drop down menus 

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


*/

/* ToppsTwinsCards.html */

.TwinsLogo {
  width:18%;
  margin-bottom:-5vh;
}

.ToppsLogo {
  width:18%;
}

.introduction {
  padding-top:2vh;
  padding-bottom:0.5vh;
  background-image: url(/photos/ToppsTwins/ToppsTwinsHero1.jpeg);
  background-size:cover;
  font-family: var(--uniform-font-family);
}


.introduction h3 {
  font-size: 7vw;
  text-align: center;
}

.introduction p {
  font-size:1.5vw;
  text-align: center;
  font-weight:bold;
}

.ToppsNav {
  display: flex;
  justify-content: space-between;
  font-family: var(--uniform-font-family);
  font-size:1.5vw;
}

.ToppsNav li {
  padding:1rem 1rem;
}

ul {
  list-style: none;
}


.cards {
  display:flex;
  justify-content: space-around;
  padding:1vw;
  background-color:#DCDCDC;
  margin:1vh 0 1vh 0;
}

.top_card {
  margin:0 0 1vh 0;
}

.cards header {
  padding:2vw;
}

.cards h3, h4, h5 {
  text-align: center;
  font-family: var(--uniform-font-family);
}

.cards h3 {
  font-size:5vw;
  color: var(--OldTwinsNavy);
  text-shadow: 3px 3px 1px var(--FirstTwinsRed);
}

.cards h4 {
  font-size:3vw;
}

.cards h5 {
  font-size:1.5vw;
  padding-bottom:.75vh;
}

.card-v {
  width: 20%;
}

.card-h {
  width: 40%;
}

.BottomNav {
  display: flex;
  align-content: space-between;
  padding:1vw 0 1vw 0;
}

.nav1960 {
  display:flex;
  flex-direction: row-reverse;
}




.BottomNav li {
  padding:1vh 1vw;
  background-color:cadetblue;
}



